#index {
    display: grid;
    grid-template-areas: 
    'i-hd i-nv i-nv i-nv'
    'i-sc i-sc i-sc i-sc'
    'i-ft i-ft i-ft i-ft';
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 200px 900px 200px;
    background-color: #fcc8c2;
}

#i-header {
    grid-area: i-hd;
    background-color: #e74c3c;
    border-radius: 15px;
    text-align: center;
}

#i-nav {
    grid-area: i-nv;
    background-color: #e74c3c;
    display: flex;
    border-radius: 15px;
    margin-left: 3px;
    padding: 25px;
}

#i-section {
    grid-area: i-sc;
    background-color: whitesmoke;
    margin-top: 5px;
    border-radius: 15px;
    text-align: center;
    padding-top: 50px;
    font-size: 70px;
}

#i-footer {
    grid-area: i-ft;
    background-color: cadetblue;
}

.indexlank {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #b4211095;
    border-radius: 15px;
    margin: 2px;
    border: 0.1px solid;
    border-color: whitesmoke;
    color: aliceblue;
}

.indexlank:hover {
    color: lightblue;
}

h1 {
    font-size:70px;
    color: whitesmoke;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

/*-----------------------------------------------------------------------------------------------------*/

#about {
    display: grid;
    grid-template-areas: 
    'a-hd a-nv a-nv'
    'a-sc a-sc a-sc'
    'a-sc a-sc a-sc';
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 200px 500px 500px;
}

#a-header {
    grid-area: a-hd;
    background-color: aqua;
}

#a-nav {
    grid-area: a-nv;
    background-color: brown;
}

#a-section {
    grid-area: a-sc;
    background-color: blueviolet;
}


/*-----------------------------------------------------------------------------------------------------*/

#card {
    display: grid;
    grid-template-areas: 
    'c-hd c-hd c-nv'
    'c-sc sc2 sc3'
    'sc4 sc5 sc6';
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 200px 450px 450px;
}

#c-header {
    grid-area: c-hd;
    background-color: #e74c3c;
    border-radius: 15px;
    text-align: center;
    margin: 3px;
}

#c-nav {
    grid-area: c-nv;
    background-color: #e74c3c;
    display: flex;
    border-radius: 15px;
    padding: 25px;
}

#c-section {
    grid-area: c-sc;
    background-color: blueviolet;
    border-radius: 15px;
}

#sc2 {
    grid-area: sc2;
    background-color: crimson;
    border-radius: 15px;
}

#sc3 {
    grid-area: sc3;
    background-color: chartreuse;
    border-radius: 15px;
}

#sc4 {
    grid-area: sc4;
    background-color: coral;
    border-radius: 15px;
}

#sc5 {
    grid-area: sc5;
    border-radius: 15px;
    background-image: url("../img/gym-back.jpg");
}

#sc6 {
    grid-area: sc6;
    background-image: url(../img/gym-abs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.cardsec {
   color: whitesmoke;
   margin: 2px;
}

h2 {
    text-align: center;
}